body {
  background-color: #90b19d;
  font-family: sans-serif; }

header {
  width: 100%; }
  header h1 {
    text-align: center; }

.listWrap {
  font-size: 50px;
  padding-bottom: 5px;
  padding-left: 55px;
  border-bottom: 1px solid gray;
  margin-top: 23px; }
  .listWrap .check {
    position: absolute;
    display: inline-block;
    height: 50px;
    width: 50px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 100%; }
  .listWrap .todoListItem {
    margin-left: 35px;
    list-style: none;
    position: relative;
    left: 25px;
    bottom: 10px; }

.pageContainer {
  background-color: white; }

.container, nav {
  margin-left: 20px;
  width: 100%; }

.items {
  background-color: white; }

.addItem {
  width: 100%; }
  .addItem input {
    width: 104%;
    position: relative;
    padding-left: 1%;
    right: 36px;
    font-size: 30px; }

.items {
  margin-top: 10px; }

.checked {
  background-color: black; }

.crossed {
  text-decoration: line-through; }

nav ul {
  margin-left: 28%; }
  nav ul li {
    display: inline-block;
    cursor: pointer;
    margin: 10px auto;
    font-size: 20px; }
  nav ul li:nth-child(1) {
    cursor: auto;
    position: relative;
    right: 30px; }
  nav ul li:nth-child(5) {
    margin-left: 30px; }

.bordered {
  border: 1px solid gray;
  border-radius: 10%; }

.hidden {
  display: none; }
