body{
  background-color:rgb(144, 177, 157);
  font-family:sans-serif;
}
header{
  width: 100%;
  h1{
    text-align:center;
  }
}
.listWrap{
  font-size:50px;
  padding-bottom:5px;
  padding-left:55px;
  border-bottom: 1px solid gray;
  margin-top:23px;
  .check{
    position:absolute;
    display:inline-block;
    height:50px;
    width:50px;
    cursor:pointer;
    border:2px solid black;
    border-radius:100%;
  }
  .todoListItem{
      margin-left:35px;
      list-style:none;
      position:relative;
      left:25px;
      bottom:10px;
      // display:inline-block;
  }
}
.pageContainer{
  background-color:white;
}
.container, nav{
  margin-left:20px;
  width:100%;
}
.items{
  background-color:white;
}
.addItem{
  width:100%;
  input{
    width: 104%;
    position: relative;
    padding-left:1%;
    right: 36px;
    font-size: 30px;
    }
}

.items{
  margin-top:10px;
}
.checked{
  background-color:black;
}
.crossed{
  text-decoration:line-through;
}
nav{
  ul{
    margin-left:28%;
    li{
      display:inline-block;
      cursor:pointer;
      margin:10px auto;
      font-size:20px;
    }
    li:nth-child(1){
      cursor:auto;
      position:relative;
      right: 30px;
    }
    li:nth-child(5){
      margin-left:30px;
    }
  }
}
.bordered{
  border:1px solid gray;
  border-radius:10%;
}
.hidden{
  display:none;
}
